body {
  background-color: black;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.photo {
  width: 500px;
}

.button {
  max-width: 500px;
  margin: auto;
  background-color: #ed1566;
  width: 123px;
  border: none;
  color: #fff5fa;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Economica", sans-serif;
  font-size: 22px;
  border-radius: 12px;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #ff93b3; /* Green */
  color: #ed1566;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
a {
  color: white;
}
