body {
  background-color: black;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.photo {
  width: 500px;
}
.button {
  max-width: 500px;
  margin: auto;
  background-color: #ed1566;
  width: 123px;
  border: none;
  color: white;
  color: #fff5fa;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Economica", sans-serif;
  font-size: 22px;
  border-radius: 12px;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #ff93b3; /* Green */
  color: #ed1566;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.header1 {
  color: white;
  font-family: "Edwardian Script ITC", sans-serif;
  font-size: 33pt;
  color: pink;
}

.back {
  max-width: 500px;
  margin: auto;
  background-color: transparent #ed1566;
  width: 75px;
  border: none;
  color: #ff93b3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Economica", sans-serif;
  font-size: 19px;
  border-radius: 12px;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
